python-dateutil
pytz
numpy
cython
matplotlib
scipy
patsy
statsmodels
xlwt
openpyxl
xlsxwriter
xlrd
numexpr
pytables
sqlalchemy
lxml
boto
bottleneck
psycopg2
pymysql
html5lib
beautiful-soup
httplib2
python-gflags
google-api-python-client
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
